@{
    ViewBag.Title = "Home Page";
   
}
        <br />
        <article>
			<h3>INFORMACION</h3>
			<p>primer contenido</p>	
		</article>

		<article>
			<h3>LIBRO</h3>
			<img src="">
			<p>primer contenido</p>	
		</article>
		<article>
			<h3>titulo2</h3>
			<p>primer contenido</p>	
		</article>
		<article>
			<h3>titulo1</h3>
			<p>primer contenido</p>	
		</article>
		<article>
			<h3>titulo1</h3>
			<p>primer contenido</p>	
	    </article></br>